# Defender toggle
Defender On
# Match log path
MatchLog /var/log/haproxy-defender/defender_match.log
# JSON Match log path
JSONMatchLog /var/log/haproxy-defender/defender_json_match.log
# Request body limit
RequestBodyLimit 8388608
# Learning mode toggle
LearningMode Off
# Extensive Learning log toggle
ExtensiveLog Off
# Libinjection SQL toggle
LibinjectionSQL On
# Libinjection XSS toggle
LibinjectionXSS On

# Rules
Include /etc/haproxy-defender/core.rules

# Score action
CheckRule "$SQL >= 8" BLOCK
CheckRule "$RFI >= 8" BLOCK
CheckRule "$TRAVERSAL >= 4" BLOCK
CheckRule "$EVADE >= 4" BLOCK
CheckRule "$XSS >= 8" BLOCK
CheckRule "$UPLOAD >= 8" BLOCK

# Whitelists
# ....
